<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{productMock.name}}</mat-card-title>
        <mat-card-subtitle>{{productMock.subCategory}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="getPicture()" alt="prodMock">
    <mat-card-content class="mat-card-content-config">
        <p>
        Цена: {{productMock.price}}$
        </p>
        <div class="d-flex">
            <div *ngFor="let star of productMockRating" >
                <mat-icon *ngIf="star <= productMock.rating">star</mat-icon>
                <mat-icon *ngIf="star > productMock.rating">star_border</mat-icon>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="mat-card-footer">
        <button mat-raised-button color="primary" (click)="onClickBuyButton($event)">Купить</button>
    </mat-card-actions>
</mat-card>
