<div class="container-cards">
    <app-card
        *ngFor="let product of productsMock"
        [product]="product"
        (click)="toClickCard()"
        (buyProductId)="onBuyProduct($event)"
    ></app-card>
    <!--2 версии сверху просто попродвинутей, снизу по уроку и дз-->
    <app-card
        [product]="productsMock[0]"
        (click)="toClickCard()"
        (buyProductId)="onBuyProduct($event)"
    ></app-card>
    <app-card
        [product]="productsMock[1]"
        (click)="toClickCard()"
        (buyProductId)="onBuyProduct($event)"
    ></app-card>
    <app-card
        [product]="productsMock[2]"
        (click)="toClickCard()"
        (buyProductId)="onBuyProduct($event)"
    ></app-card>
    <app-card
        [product]="productsMock[3]"
        (click)="toClickCard()"
        (buyProductId)="onBuyProduct($event)"
    ></app-card>
    <app-card
        [product]="productsMock[4]"
        (click)="toClickCard()"
        (buyProductId)="onBuyProduct($event)"
    ></app-card>
    <app-card
        [product]="productsMock[5]"
        (click)="toClickCard()"
        (buyProductId)="onBuyProduct($event)"
    ></app-card>
    <app-card
        [product]="productsMock[6]"
        (click)="toClickCard()"
        (buyProductId)="onBuyProduct($event)"
    ></app-card>
    <app-card
        [product]="productsMock[7]"
        (click)="toClickCard()"
        (buyProductId)="onBuyProduct($event)"
    ></app-card>
    <app-card
        [product]="productsMock[8]"
        (click)="toClickCard()"
        (buyProductId)="onBuyProduct($event)"
    ></app-card>
</div>
