<div *ngIf="products as valueProp; else loaderTemplate; let value" class="scroll-container">
    <!-- Раскомментрировать для ДЗ -->
    <ng-container
        *appPagination="
            let productsGroup of products;
            chankSize: 4;
            let pageIndexes = pageIndexes;
            let activeIndex = index;
            let next = next;
            let back = back;
            let selectIndex = selectIndex;
            let isFirstPage = isFirstPage;
            let isLastPage = isLastPage
        "
    >
        <div class="cards">
            <app-card
                *ngFor="let product of productsGroup; trackBy: trackById"
                class="card"
                [product]="product"
            ></app-card>
        </div>
        <div class="pagination-container">
            <div class="paginator">
                <button mat-raised-button color="primary" [disabled]="isFirstPage" (click)="back()">
                    <- Назад
                </button>
                <div class="">
                    <button
                        *ngFor="let index = index; of: [].constructor(pageIndexes)"
                        mat-button
                        [class.activeIndex]="index === activeIndex - 1"
                        (click)="selectIndex(index)"
                    >
                        {{ index + 1 }}
                    </button>
                </div>
                <button mat-raised-button color="primary" [disabled]="isLastPage" (click)="next()">
                    Вперед ->
                </button>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #loaderTemplate>
    <mat-spinner></mat-spinner>
</ng-template>
