:host {
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*flex-wrap: wrap;*/
}
.container-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: calc((270px + 16px) * 4);
}

app-card {
    margin: 8px;
}
