<ng-template [ngIf]="products" let-productFromContext [ngIfElse]="loaderTemplate">
<!--    {{defaultValueFromContext}}-->
    <app-card class="card" [product]="productFromContext[0] || null" (buy)="onProductBuy($event)"></app-card>
    <app-card class="card" [product]="productFromContext[1] || null" (buy)="onProductBuy($event)"></app-card>
    <app-card class="card" [product]="productFromContext[2] || null" (buy)="onProductBuy($event)"></app-card>
    <app-card class="card" [product]="productFromContext[3] || null" (buy)="onProductBuy($event)"></app-card>
    <app-card class="card" [product]="productFromContext[4] || null" (buy)="onProductBuy($event)"></app-card>
</ng-template>

<ng-template #loaderTemplate >
        <mat-spinner  [color]="'accent'"></mat-spinner>
</ng-template>
